header {
  .navlist {
    a {
      position: relative;
      &.active {
        &:after {
          position: absolute;
          content: "";
          bottom: 8px;
          left: 50%;
          width: 70%;
          height: 2px;
          transform: translateX(-50%);
          background: $secondary;
          transition: $transition;
          opacity: 0;
        }
      }
      &.active {
        &:after {
          opacity: 1;
        }
      }
      //   &:hover {
      //     &::after {
      //       opacity: 1;
      //     }
      //   }
    }
  }
}
